.monospace {
  font-family: 'Source Code Pro', Consolas, monospace;
}

input[type=text].field-large {
  height: 3.5rem;
  font-size: 1.7rem;
  padding: 1rem;
}

.pointer {
  cursor: pointer;
}

.l1 {
  left: .5rem;
}

.r1 {
  right: .5rem;
}

.transition-bgc {
  transition: background-color 150ms ease;
}

.typeahead:first-of-type {
  background-color: #F0F0F0;
}

.typeahead:hover {
  background-color: #E6E6E6;
}
