<footer class="clearfix mt4">
  <div class="container">
    <div class="px3">
      A <a href="http://twitter.com/tinystride" title="@tinystride on Twitter"
      class="conditional-color-link">
      @tinystride</a> project&nbsp;&nbsp;|&nbsp;&thinsp;
      {{link-to '/purpose' 'purpose' class="conditional-color-link"}}
    </div>
  </div>
</footer>
