<section class="clearfix">
  <div class="container">
    <div class="px3 mt3">
      {{link-to '« go home' 'properties'}}

      <h1>/purpose</h1>
      <p>
        Some CSS properties are animatable with the CSS
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/transition"
          target="_blank">transition</a> property, and others aren't.
      </p>
      <p>
        The Mozilla Developer Network has a
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animated_properties"
        title="CSS animated properties">fantastic chart</a> listing which
        properties are animatable, but it's a little dull. <b>animatable</b>
        takes the data from the MDN page and turns it into a pleasant search
        experience.
      </p>
      <p>
        I made <b>animatable</b> for myself, because I wanted it to exist, and
        because I'm a sucker for big search fields and solid background colors.
        If you like it too, that's all the better.
      </p>
    </div>
  </div>
</section>
